# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Vercel deployment cache
.vercel/
